<p id="notice"><%= notice %></p>

<h1>Ajaxtests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ajaxtests.each do |ajaxtest| %>
      <tr>
        <td><%= ajaxtest.name %></td>
        <td><%= ajaxtest.mobile %></td>
        <td><%= link_to 'Show', ajaxtest %></td>
        <td><%= link_to 'Edit', edit_ajaxtest_path(ajaxtest) %></td>
        <td><%= link_to 'Destroy', ajaxtest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ajaxtest', new_ajaxtest_path %>
