<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ajaxtest.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @ajaxtest.mobile %>
</p>

<%= link_to 'Edit', edit_ajaxtest_path(@ajaxtest) %> |
<%= link_to 'Back', ajaxtests_path %>
